{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %} {% endblock %}</title>
  {% bootstrap_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
</head>



<body>
<div id="wrapper">

  <span class="user">
    {% if request.user.is_authenticated %}
    Witaj {{ request.user.first_name }},
    <a href="{% url 'logout' %}">Wyloguj</a>
    {% else %}
    <a href="{% url 'login' %}">Zaloguj się</a>&nbsp;
    <a href="{% url 'register' %}">Zarejestruj się</a>
    {% endif %}
  </span>

<div id="content">

 <div id='nav'>

    <ol class="menu">

      <li><a href="#">Home</a></li>
      <li><a href="{% url 'articles_list' %}">Blog</a></li>
      <li><a href="{% url 'contact' %}">Kontakt</a></li>

    </ol>

</div>

{% block content %}

{% endblock %}
</div>
</div>
{% bootstrap_javascript %}
</body>
</html>
